@{
    ViewData["Title"] = "Start";
    @model RoomBooking.Web.Models.Home.IndexViewModel
}

<div class="row mt-4">
    <div class="col">
        <div class="card">
            <h5 class="card-header bg-light">
                Select a location
            </h5>
            <div class="list-group list-group-flush">
                @foreach (var location in Model.Locations)
                {
                    <a class="list-group-item list-group-item-action"
                       asp-controller="Location"
                       asp-action="Index"
                       asp-route-id="@location.ID">
                        @location.Name
                    </a>
                }
            </div>
        </div>
    </div>
</div>