@{
    ViewData["Title"] = "Start";
    @model IEnumerable<RoomBooking.Core.Models.Location>
}

<h1>Room Booking</h1>
<h2>Inventing the wheel, over and over again.</h2>

<ul>
@foreach (var location in Model)
{
    <li>
        <a asp-controller="Location" asp-action="Index" asp-route-id="@location.ID">
            @location.Name (ID: @location.ID)
        </a>
    </li>
}
</ul>