
@{
    ViewData["Title"] = "Plats";
    @model RoomBooking.Web.Models.Location.IndexViewModel
}

<div class="row mt-4">
    <div class="col">
        <h3>@Model.Location</h3>
        <div class="card mt-4">
            <h5 class="card-header bg-light">
                Select a room
            </h5>

            @if (Model.Rooms.Any())
            {
                <div class="list-group list-group-flush">
                    @foreach (var room in Model.Rooms)
                    {
                        <a class="list-group-item list-group-item-action"
                           asp-controller="Room"
                           asp-action="Index"
                           asp-route-id="@room.ID">
                            @room.Name
                        </a>
                    }
                </div>
            }
            else
            {
                <div class="card-body">
                    <p class="card-text">No rooms, sorry!</p>
                </div>
            }

        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-light">
                <li class="breadcrumb-item"><a asp-controller="Home">&laquo; Tillbaka</a></li>
            </ol>
        </nav>
    </div>
</div>